<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title></title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
  </head>
  <body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
          <div class="header item"><i class="football ball icon"></i><a href="/">STL Sports Bro</a></div>
          <a class="item 1" href="/">Home</a>
          <a class="item" href="/blogs/new">New Posts</a>
        </div>
    </div>
