<h1>Meet our animal friend: <%= thingVar.toUpperCase() %>!</h1>

<% if(thingVar.toLowerCase() === "tigra") { %>
  <p>Tigra is so much fun!</p>
<% } else { %>
  <p>Meet another one of our fabulous friends!</p>
<% } %>

<p>This is the meet.ejs file.</p>
